# git shortlog -s -n --all --no-merges -e
Dmitrii.Kosarev a.k.a. Kakadu <Kakadu@pm.me> <Kakadu@users.noreply.github.com>
Dmitrii.Kosarev a.k.a. Kakadu <Kakadu@pm.me> <kakadu@pm.me> 
Nikita Nemakin <nikita.nemakin@yandex.ru>  <nemakin.nikita@yandex.ru>