build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & os-family != "alpine"}
    "@doc" {with-doc}
  ]
]
x-maintenance-intent: ["(latest)"]
